.todo__box{
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    border-radius: 10px;
}
.title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color: var(--black);
    margin-block-end: 10px;
}
.form{
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
    display: flex;
    gap: 10px;
}
.list{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}