.wrapper{
    padding: 20px;
    position: relative;
    background-color: #14213d;
    border-radius: 10px;
}

.motion__box{
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    inset: -1px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 300ms;
    opacity: 1;
}
